@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 80 10% 20%;
    --card: 60 56% 95%;
    --card-foreground: 80 10% 20%;
    --popover: 60 56% 95%;
    --popover-foreground: 80 10% 20%;
    --primary: 80 61% 34%;
    --primary-foreground: 80 30% 98%;
    --secondary: 80 20% 85%;
    --secondary-foreground: 80 10% 20%;
    --muted: 80 20% 88%;
    --muted-foreground: 80 10% 45%;
    --accent: 25 76% 53%;
    --accent-foreground: 25 30% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 80 20% 80%;
    --input: 80 20% 85%;
    --ring: 80 61% 34%;
    --chart-1: 80 61% 34%;
    --chart-2: 25 76% 53%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    /* Sidebar variables */
    --sidebar-background: 80 10% 15%;
    --sidebar-foreground: 80 10% 95%;
    --sidebar-primary: 80 30% 98%;
    --sidebar-primary-foreground: 80 10% 10%;
    --sidebar-accent: 80 10% 25%;
    --sidebar-accent-foreground: 80 10% 95%;
    --sidebar-border: 80 10% 25%;
    --sidebar-ring: 25 76% 53%;
  }

  .dark {
    --background: 80 10% 10%;
    --foreground: 80 10% 95%;
    --card: 80 10% 15%;
    --card-foreground: 80 10% 95%;
    --popover: 80 10% 15%;
    --popover-foreground: 80 10% 95%;
    --primary: 80 50% 70%;
    --primary-foreground: 80 10% 5%;
    --secondary: 80 10% 25%;
    --secondary-foreground: 80 10% 95%;
    --muted: 80 10% 25%;
    --muted-foreground: 80 10% 65%;
    --accent: 25 70% 60%;
    --accent-foreground: 25 10% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 80 10% 25%;
    --input: 80 10% 25%;
    --ring: 80 50% 70%;
    --chart-1: 80 50% 70%;
    --chart-2: 25 70% 60%;
    --chart-3: 197 37% 54%;
    --chart-4: 43 74% 76%;
    --chart-5: 27 87% 77%;

    /* Sidebar variables */
    --sidebar-background: 80 10% 10%;
    --sidebar-foreground: 80 10% 95%;
    --sidebar-primary: 80 50% 70%;
    --sidebar-primary-foreground: 80 10% 5%;
    --sidebar-accent: 80 10% 20%;
    --sidebar-accent-foreground: 80 10% 95%;
    --sidebar-border: 80 10% 20%;
    --sidebar-ring: 25 70% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
